/assets/stories/
.idea/
/core/cache/
/core/config/config.inc.php
/config.core.php
/manager/config.core.php
/connectors/config.core.php
/core/cache/
/node_modules/
/CLAUDE.md
/assets/fairy-tales/
/assets/people/
/assets/news/