@import "tailwindcss";

@font-face {
  font-family: "Neris";
  src: url("/assets/fonts/Neris/Neris-ThinItalic.woff2") format("woff2");
  font-weight: 250;
  font-style: italic;
}

@font-face {
  font-family: "Neris";
  src: url("/assets/fonts/Neris/Neris-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neris";
  src: url("/assets/fonts/Neris/Neris-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Neris";
  src: url("/assets/fonts/Neris/Neris-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "BalkaraFreeCondensed";
  src: url("/assets/fonts/BalkaraFreeCondensed/BalkaraFreeCondensed.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Neris", sans-serif;
  /* background: #021b3a; */
  background-image: url('/assets/images/general-bg.png');
  
  /* Дополнительные настройки, чтобы фон растянулся и не прыгал */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Чтобы фон не скроллился вместе с контентом */
  background-repeat: no-repeat;
}

nav a {
  padding: 8px 20px;
}

nav a:hover {
  border-radius: 1.5rem;
  background: #1f384e;
}

.font-neris {
  font-family: "Neris", sans-serif;
}

.font-balkara {
  font-family: "BalkaraFreeCondensed", sans-serif;
}

#region-label {
  position: absolute;
  background: red;
  color: white;
  padding: 3px 6px;
  border-radius: 4px;
  pointer-events: auto;
  text-align: center;

  display: none;

  transform: translate(-100%, -100%);
}

#region-label strong {
  font-size: 8px;
  font-weight: 600;
}

#region-label a {
  font-size: 7px;
  font-weight: 300;
}

@media (min-width: 1280px) {
  #region-label {
    padding: 5px 10px;
    border-radius: 6px;
  }

  #region-label strong {
    font-size: 13px;
    font-weight: 600;
  }

  #region-label a {
    font-size: 12px;
    font-weight: 300;
  }
}