<!doctype html>
<html lang="en">
  <head>
    <script src="/assets/js/raphael-min.js"></script>
    [[$head]]
    <script>
      window.activeRegions = [[getActiveRegions]];
    </script>
    <script
      type="module"
      src="http://localhost:5173/assets/js/home.js"
      defer
    ></script>
  </head>

  <body>
    [[$header]]
    <div class="max-w-[1440px] px-4 py-6 xl:p-12 mx-auto flex flex-col items-center">
      <!-- header -->

      <!-- Контент -->
      [[$main]]

      <!-- Футер -->
    </div>
    [[$footer]]
  </body>
</html>
