<!doctype html>
<html lang="en">
  <head>
    <script src="/assets/js/raphael-min.js"></script>
    [[$head]]
    <script>
      window.activeRegions = [[getActiveRegions]];
    </script>
    <script
      type="module"
      src="http://localhost:5173/assets/js/home.js"
      defer
    ></script>
  </head>

  <body>
    <div class="max-w-[1440px] p-12 mx-auto flex flex-col items-center">
      <!-- header -->
      [[$header]]

      <!-- Контент -->
      [[$main]]

      <!-- Футер -->
      [[$footer]]
    </div>
  </body>
</html>
